<%include ../pub_vw/head.html%>
<div class="p_dev_header">
    <div class="inner">
        <%include ../pub_vw/nav.html%>
    </div>
</div>
<div class="p_dev_content">
    <div class="inner">
        <div class="p_dev_item" data-anchor="page1">
            <div class="text_des">
                <h1 class="animated ">米可智能一体机</h1>
                <p class="animated ">慢病5项常规医学检测，集成一体</p>
                <h2 class="animated ">1988<span>元</span></h2>
            </div>
            <div class="image_des"></div>
        </div>
        <div class="p_dev_item" data-anchor="page2">
            <div class="text_des">
                <h1 class="animated">收集上传数据</h1>
                <p class="animated">快速测量血氧、脉率、血压、体温；配备耳温枪，快速测量体温</p>
                <p class="animated"> 测试完毕后设备通过GPRS/WIFI及时向云端发送体格数据</p>
            </div>
            <div class="image_des"></div>
        </div>
        <div class="p_dev_item" data-anchor="page3">
            <div class="text_des">
                <h1 class="animated">一键呼救</h1>
                <p class="animated">随时随地链接救助资源，一键发出求助信号，不受时间地域的限制</p>
                <p class="animated">挽救生命的成功率大大提示</p>
            </div>
            <div class="image_des"></div>
        </div>
    </div>
</div>
<div class="item_roll">
    <span class="roll_item"></span>
    <span class="roll_item"></span>
    <span class="roll_item"></span>
</div>
<%include ../pub_vw/footer.html%>