<%include ../pub_vw/head.html%>
<!--头部-->
<div class="p_doctor_header">
    <div class="inner">
        <%include ../pub_vw/nav.html%>
        <div class="banner_wrapper">
            <div class="banner_text fl ">
                <div class="img_text">
                    <img class="wow bounceInDown" data-wow-delay="0.2s"  style="padding-bottom: 5px" src="/image/dotor_ch.png">
                    <img class="wow bounceInDown" data-wow-delay="0.4s" src="/image/doctor_en.png">
                </div>
                <p class="wow bounceInDown" data-wow-delay="0.6s">健康守护天使，专为社区医生量身打造<br/>的一款移动端家庭医疗健康管理工具</p>
                <div class="img_btn">
                    <a class="ios fl wow bounceInDown" data-wow-delay="0.8s" href="<%=ios%>">
                        <img class="fl" src="/image/ios.png">
                        <span class="fl">IOS版</span>
                    </a>
                    <a class="android fl wow bounceInDown" data-wow-delay="0.8s" href="<%=android%>">
                        <img class="fl" src="/image/Android.png">
                        <span class="fl">Android版</span>
                    </a>
                    <div class="clearBoth"></div>
                </div>
            </div>
            <div class="banner_img fr wow bounceInRight" data-wow-delay="0.2s" data-wow-duration="0.8s">
                <img src="/image/p_d_s.png">
                <div class="p_d_shadow"></div>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>
<!--内容部分-->
<div class="p_doctor_content">
    <div class="inner">
        <div style="margin-top: 280px;" class="detail_list">
            <div class="img_wrapper fl wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1.5s">
                <img src="/image/p_d_list1.jpg">
            </div>
            <div class="text_wrapper fr">
                <h3 class="wow fadeInUpBig" data-wow-delay="0.1s" data-wow-duration="0.5s">线上线下随访</h3>
                <p class="wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="0.5s">医务人员和患者有效的链接在一起，打破时间和空间的束<br/>缚，沟通无障碍</p>
            </div>
            <div class="clearBoth"></div>
        </div>
        <div  class="detail_list">
            <div class="text_wrapper fl">
                <h3 class="wow fadeInUpBig" data-wow-delay="0.1s" data-wow-duration="1s">线上线下随访</h3>
                <p class="wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1s">记录统计患者病况，病情治疗恢复过程一目了然</p>
            </div>
            <div class="img_wrapper fr wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1.5s">
                <img src="/image/p_d_list2.jpg">
            </div>
            <div class="clearBoth"></div>
        </div>
        <div  class="detail_list">
            <div class="img_wrapper fl wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1.5s">
                <img src="/image/p_d_list3.jpg">
            </div>
            <div class="text_wrapper fr" >
                <h3 class="wow fadeInUpBig" data-wow-delay="0.1s" data-wow-duration="1s">业绩评估</h3>
                <p class="wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1s">根据签约用户的康复效果，合理有效评估家庭医生的业绩</p>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>
<%include ../pub_vw/footer.html%>