<%include ../pub_vw/head.html%>
<!--顶部-->
<div class="p_plat_header">
    <div class="inner">
        <%include ../pub_vw/nav.html%>
        <div class="banner_wrapper">
            <div class="banner_text fl wow bounceInLeft" data-wow-delay="0.1s" data-wow-duration="1s">
                <h1>便捷的医疗与健康管理服务</h1>
                <p>整合区域医疗资源，为您个人及家庭健康提供全面监护</p>
            </div>
            <div class="banner_img fr wow bounceInRight" data-wow-delay="0.1s" data-wow-duration="1s">
                <img src=" /image/p_banner_s.png">
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>
<!--内容-->
<div class="p_plate_content">
    <div class="inner">
        <div class="detail_list">
            <h1 class="wow fadeInUpBig" data-wow-delay="0.1s" data-wow-duration="1s" style="margin-top: 210px;margin-bottom: 76px">蜂鸟健康管理平台</h1>
            <div class="detail_item wow fadeInUpBig" data-wow-delay="0.2s">
                <div class="img_wrapper fl " >
                  <img src=" /image/p_p_list1.jpg">
                </div>
                <div class="text_wrapper fr wow" >
                    <div class="text_des">
                        <h3>健康档案</h3>
                        <p>系统对每一位入院患者及家庭建立健康档案，并推出家庭医生<br/>签约制，为患者的身体健康提供长期有效的照护</p>
                    </div>
                    <div class="text_des">
                        <h3>团队管理</h3>
                        <p>方便快捷的团队管理，合理分配团队成员的随访任务</p>
                    </div>
                    <div class="text_des clearBottom">
                        <h3>健康监控</h3>
                        <p>患者体征数据实时统计，发现异常及时处理</p>
                    </div>
                </div>
                <div class="clearBoth"></div>
            </div>
        </div>
        <div class="detail_list">
            <h1 class="wow fadeInUpBig" data-wow-delay="0.1s" data-wow-duration="1s" style="margin-top: 150px;margin-bottom: 87px">米可健康大数据云平台</h1>
            <div class="detail_item wow fadeInUpBig" data-wow-delay="0.2s">
                <div class="text_wrapper fl">
                    <div class="text_des">
                        <h3 >数据统计</h3>
                        <p>电子病历系统可以为诊断和治疗提供数据决策支持</p>
                    </div>
                    <div class="text_des">
                        <h3>数据预警</h3>
                        <p>系统会对体征测量数据进行自动化分析，对超出正常范围<br/>的数据进行预警</p>
                    </div>
                    <div class="text_des clearBottom">
                        <h3>健康分析</h3>
                        <p>根据历史统计数据，利用大数据分析方法，给患者合理的<br/>健康恢复建议</p>
                    </div>
                </div>
                <div class="img_wrapper fr wow ">
                    <img src="/image/p_p_list2.jpg">
                </div>
                <div class="clearBoth"></div>
            </div>
        </div>
    </div>
</div>
<%include ../pub_vw/footer.html%>