<%include ../pub_vw/head.html%>
<!--头部-->
<div class="p_doctor_header p_user_header ">
    <div class="inner">
        <%include ../pub_vw/nav.html%>
        <div class="banner_wrapper">
            <div class="banner_text fl ">
                <div class="img_text">
                    <h1 class="wow bounceInDown" data-wow-delay="0.2s" data-wow-duration="1s" style="padding-bottom: 5px" >蜂鸟健康APP/微信公众号</h1>
                    <img class="wow bounceInDown" data-wow-delay="0.4s" data-wow-duration="1s" src=" /image/p_u_en.png">
                </div>
                <p class="wow bounceInDown" data-wow-delay="0.6s" data-wow-duration="1s">社区医生管理“居民家庭健康”和“住院<br/>患者”而量身打造的移动端管理工具</p>
                <div class="img_btn">
                    <a class="ios fl wow bounceInDown" data-wow-delay="0.8s" data-wow-duration="1s" href="<%=ios%>">
                        <img class="fl" src=" /image/ios.png">
                        <span class="fl">IOS版</span>
                    </a>
                    <a class="android fl wow bounceInDown" data-wow-delay="0.8s" data-wow-duration="1s" href="<%=android%>">
                        <img class="fl" src=" /image/Android.png">
                        <span class="fl">Android版</span>
                    </a>
                    <div class="clearBoth"></div>
                </div>
            </div>
            <div class="banner_img fr wow bounceInRight" data-wow-delay="0.2s" data-wow-duration="1.5s">
                <img src=" /image/p_u_s.png">
                <div class="p_d_shadow"></div>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>
<!--内容部分-->
<div class="p_doctor_content p_user_content">
    <div class="bf">
        <div class="inner">
            <div  class="detail_list qr_code">
                <div class="img_wrapper fl wow bounceInLeft" data-wow-delay="0.1s" data-wow-duration="1s">
                    <img src=" /image/qrcode.jpg">
                    <p>扫一扫关注蜂鸟健康</p>
                </div>
                <div class="text_wrapper fl">
                    <p class="bounceInRight wow" data-wow-delay="0.1s">
                        <span>健康咨询</span>
                        <span>支持文字、语音等方式向签约医生进行健康咨询</span>
                    </p>
                    <p class="bounceInRight wow" data-wow-delay="0.2s">
                        <span>健康档案</span>
                        <span>电子病历、体征测量数据微信同步显示</span>
                    </p>
                    <p class="clearBottom wow  bounceInRight" data-wow-delay="0.3s">
                        <span>康复指导</span>
                        <span>每天都能接收专业的签约医生向您推送的康复指导建议，和用药提醒</span>
                    </p>
                </div>
                <div class="clearBoth"></div>
            </div>
        </div>
    </div>
    <div class="inner">
        <div style="padding-top: 280px;" class="detail_list">
            <div class="img_wrapper fl wow fadeInUpBig" data-wow-delay="0.1s" data-wow-duration="1s">
                <img src=" /image/p_u_list1.png">
            </div>
            <div class="text_wrapper fr wow fadeInUpBig" data-wow-delay="0.1s">
                <h3 class="wow fadeInUpBig" data-wow-delay="0.1s">智能硬件检测健康数据</h3>
                <p class="wow fadeInUpBig" data-wow-delay="0.2s">麻烦的复诊轻松搞定，常规体格检测不用跑医院，省时省心</p>
            </div>
            <div class="clearBoth"></div>
        </div>
        <div  class="detail_list">
            <div class="text_wrapper fl wow fadeInUpBig" data-wow-delay="0.1s">
                <h3 class="wow fadeInUpBig" data-wow-delay="0.1s">医疗云健康大数据服务</h3>
                <p class="wow fadeInUpBig" data-wow-delay="0.2s">个人健康档案，实时体格分析，康复指导，疾病风险<br/>评估有理有</p>
            </div>
            <div class="img_wrapper fr wow fadeInUpBig" data-wow-delay="0.1s" data-wow-duration="1s">
                <img src=" /image/p_u_list2.png">
            </div>
            <div class="clearBoth"></div>
        </div>
        <div  class="detail_list">
            <div class="img_wrapper fl wow fadeInUpBig" data-wow-delay="0.1s" data-wow-duration="1s">
                <img src=" /image/p_u_list3.png">
            </div>
            <div class="text_wrapper fr" >
                <h3 class="wow fadeInUpBig" data-wow-delay="0.1s">个性化医疗服务定制</h3>
                <p class="wow fadeInUpBig" data-wow-delay="0.2s">签约医生提供24小时健康照护，家庭健康持续性医疗服<br/>务有保障</p>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>
<%include ../pub_vw/footer.html%>