<!--返回的顶部-->
<div id="backTop" class="hide">
    <img src="/image/top.jpg">
</div>
<!--页尾部-->
<div class="footer">
    <div class="inner">
        <ul class="footer_nav">
            <li class="fl text_right"><a href="/state#law">法律申明</a></li>
            <li class="fl text_center"><a  href="/state#state">版权信息</a></li>
            <li class="fl text_left"><a  href="/state#link">友情链接</a></li>
        </ul>
        <div class="footer_state">
            <p>本站文章版权归原作者所有，仅供参考，请勿抄袭和做其他用途</p>
            <p>贵州米可医疗科技有限公司 黔ICP备12043664号-5　黔ICP证150329号 黔网文【2017】2410-473</p>
        </div>
    </div>
</div>
</body>
<!--[if (gte IE 11) | !(IE)]><!-->
 <script src="/lib/wow.min.js"></script>
<![endif]-->
<!--<script src="/js/bundle.js?v=1"></script>-->
<script src="/js/microtech.min.js?v=1"></script>

</html>