<%include pub_vw/head.html%>
<div class="about_header">
    <div class="inner">
        <%include pub_vw/nav.html%>
        <div class="banner_wrapper">
            <div class="banner_text">
                <h1 class="wow bounceInDown" data-wow-delay="0.2s">We are microtech！</h1>
                <p class="wow bounceInDown" data-wow-delay="0.1s">用科技创新引领健康生活，让大数据拥抱大健康</p>
            </div>
        </div>
    </div>
</div>
<div class="about_content wow zoomInDown" data-wow-delay="0.2s" data-wow-duration="1.5s">
    <div class="inner">
        <!--关于我们-->
        <div class="aboutUs">
            <div class="about_title">
                <p class="lang_en">ABOUT US</p>
                <p class="lang_ch">关于米可</p>
            </div>
            <div class="about_des">
                <div class="program">
                    <p>贵州米可医疗科技有限公司于2017-06-03成立，注册资本1000万元，是一家从事医疗器械、生物科技、计算机软硬件领域内的技术开发、技术转让、技术咨询、技术服务的新兴科技公司。</p>
                </div>
                <div class="program">
                    <p> 公司至成立以来，在“互联网+医疗”的新业态下，围绕物联网与智慧医疗产业方向，利用移动互联、物联网和云计算等技术帮助医院实现对人、物、设备的智能化管理，将医疗过程中的各方以数字的方式连接起来，从而改善现有的医疗效率及服务质量。</p>
                </div>
                <div class="program">
                    <p>  我们秉承专业、创新、时尚、科技、快捷、诚信的服务精神，以用户为导向的服务理念，助力提升全民大健康。</p>
                </div>

                <div class="program">
                    <p>
                        <span>企业愿景：</span>
                        <span>用科技创新引领健康生活，让大数据拥抱大健康。</span>
                    </p>
                </div>
                <div class="program">
                    <p>
                        <span>企业使命：</span>
                        <span> 让每一个中国家庭都拥有一个属于自己的家庭医生。</span>
                    </p>
                </div>
                <div class="program">
                    <p>
                        <span> 企业价值观：</span>
                        <span>创业创新—我们追求对客户和公司都至关重要的创新，同时快速而高效地推动其实现。</span>
                        <span>诚信正直—我们秉持信任、诚实和富有责任感，无论是对内部还是外部。</span>
                        <span> 多元共赢—我们倡导互相理解，珍视多元性，以全球视野看待我们的文化。</span>
                    </p>
                </div>
                <blockquote class="wow bounceInLeft" data-wow-delay="1s">—— 米可医疗科技</blockquote>
            </div>
        </div>
        <div class="about_footer">
            <div class="img_wrapper fl">
                <img class="wow zoomInLeft" data-wow-delay="0.1s" data-wow-duration="3s" src=" /image/geo_s.jpg">
                <div class="a_mark wow zoomInLeft" data-wow-delay="0.1s" data-wow-duration="3s">
                    <img class="first_child" src=" /image/a_logo.png">
                    <img src=" /image/a_ligther.png">
                </div>
            </div>
            <div class="about_contact fl" >
                <h3 class="wow bounceInRight" data-wow-delay="0.3s">联系我们</h3>
                <p>
                    <span class="wow bounceInRight" data-wow-delay="0.9s">传真：0851-888888888</span>
                    <span class="wow bounceInRight" data-wow-delay="0.2s">邮箱：Ammo@foxemail.com</span>
                    <span class="wow bounceInRight" data-wow-delay="1.5s">地址：贵阳市观山湖区林城东路摩根中心A座2101</span>
                </p>
            </div>
        </div>
    </div>
</div>
<%include pub_vw/footer.html%>