<%include pub_vw/head.html%>
   <div class="index_header">
       <div class="inner">
           <%include pub_vw/nav.html%>
           <div class="banner_wrapper">
               <div class="banner_text">
                   <h1 class="wow bounceInDown" data-wow-delay="0.5s">“互联网+”时代的健康管理新模式-云病房</h1>
                   <p class="wow bounceInDown" data-wow-delay="0.4s">整合区域基层医疗资源，与大数据、云计算智能平台及物联网等技术<br/>的结合，解决居家康养服务的“最后一公里”。</p>
               </div>
               <div class="banner_img_wrapper">
                    <div class="index_left_bottom wow bounceInDown" data-wow-delay="0.2s">
                        <img src="/image/i_b_l_b.png">
                    </div>
                   <div class="index_left_top wow bounceInDown" data-wow-delay="0.3s">
                       <img src="/image/i_b_l_t.png">
                   </div>
                   <div class="index_center wow bounceInDown" data-wow-delay="0.1s">
                       <img src="/image/i_b_c.png">
                   </div>
                   <div class="index_right_bottom wow bounceInDown" data-wow-delay="0.2s">
                       <img src="/image/i_b_r_b.png">
                   </div>
                   <div class="index_right_top wow bounceInDown" data-wow-delay="0.3s">
                       <img src="/image/i_b_r_t.png">
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div class="index_content">
       <div class="arrow_down">
           <img src="/image/arrow_down.png">
       </div>
       <div class="inner">
           <!--产品优势-->
           <div class="p_advantage">
               <h1 class="p_title wow fadeInUpBig" data-wow-delay="0.1s">
                   <span>米可家庭云病房</span><span class="cyan">产品优势</span>
               </h1>
               <div class="list_wrapper">
                   <div class="item fl wow bounceInLeft" data-wow-delay="0.2s">
                       <!--<div class="img_wrapper">
                           <img src="/image/msg.png">
                           <p>签约管理</p>
                       </div>-->
                       <div class="image_wrapper">
                           <img src="/image/i_p_l_1.png">
                       </div>
                       <div class="des_wrapper">
                           <h3 class="dark">及时的医患链接</h3>
                           <p>灵活的居民签约方式，快速创建健康档案</p>
                       </div>
                   </div>
                   <div class="item fl wow bounceInLeft" data-wow-delay="0.4s">
                       <!--<div class="img_wrapper">
                           <img src="/image/doctor.png">
                           <p>随访管理</p>
                       </div>-->
                       <div class="image_wrapper">
                           <img src="/image/i_p_l_2.png">
                       </div>
                       <div class="des_wrapper">
                           <h3 class="dark">灵活的随访服务</h3>
                           <p>设定个性化随访方案、随访任务，实现灵活高效的随访服务</p>
                       </div>
                   </div>
                   <div class="item fl wow bounceInLeft" data-wow-delay="0.6s">
                       <!--<div class="img_wrapper">
                           <img src="/image/user.png">
                           <p>居民管理</p>
                       </div>-->
                       <div class="image_wrapper">
                           <img src="/image/i_p_l_3.png">
                       </div>
                       <div class="des_wrapper">
                           <h3 class="dark">高效的管理患者</h3>
                           <p>完善的电子健康档案、康复管理面板帮助医生高效的管理患者</p>
                       </div>
                   </div>
                   <div class="item fl clearRight wow bounceInLeft" data-wow-delay="0.8s">
                       <!--<div class="img_wrapper">
                           <img src="/image/data.png">
                           <p>居民管理</p>
                       </div>-->
                       <div class="image_wrapper">
                           <img src="/image/i_p_l_4.png">
                       </div>
                       <div class="des_wrapper">
                           <h3 class="dark">提供数据支持</h3>
                           <p>自动获取患者测量的体格，及时了解病情变化，为康复管理提供数据支持</p>
                       </div>
                   </div>
                   <div class="clearBoth"></div>
               </div>
           </div>
           <div class="p_look">
               <h1 class="p_title wow bounceIn" data-wow-delay="0.1s">
                   <span>米可云病房系统</span><span class="cyan">产品一览</span>
               </h1>
               <div class="des_wrapper">
                   <div class="des_bg">
                       <!--<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="800" height="600" class="bg_svg">
                           <path stroke-dasharray="5,10" d="M210,0 L520,140 L880,60 L1140,120 L1050,150 L620,60,L280,120 L100,30 Z"
                                 style="stroke-linecap:round;fill-opacity: 0; stroke-width: 2; stroke:  #CCE4FF;"></path>
                       </svg>-->
                       <img src="/image/home_img_line.png" class="fadeIn wow" data-wow-duration="1s">
                   </div>
                    <div class="des_item fl des_item_first wow bounceInLeft" data-wow-delay="0.8s" data-wow-duration="1s">
                        <h3 >医生端APP</h3>
                        <img  class="parent_img " src="/image/i_p_1.png" >
                        <img class="center_img wow " src="/image/i_p_d_b.jpg">
                        <p >社区医生管理“居民家庭健康”和“住院患者”而量身打造的移动端管理工具</p>
                    </div>
                   <div class="des_item fl des_item_second wow bounceInLeft" data-wow-delay="0.6s" data-wow-duration="1s">
                       <h3>健康管理平台</h3>
                       <img src="/image/i_p_2.png" data-wow-delay="0.1s">
                       <img class="center_img" src="/image/i_p_d_o.jpg" >
                       <p  >健康管理系统后台提供各种数据接口为分级诊疗，双向转诊提供可能</p>
                   </div>
                   <div class="des_item fl des_item_third wow bounceInLeft" data-wow-delay="0.4s" data-wow-duration="1s">
                       <h3 >大数据云平台</h3>
                       <img   src="/image/i_p_3.png">
                       <img class="center_img "  src="/image/i_p_d_b.jpg">
                       <p >云计算、大数据等技术，整合区域医疗资源为诊断和治疗提供数据决策支持</p>
                   </div>
                   <div class="des_item fl des_item_four wow bounceInLeft" data-wow-delay="0.2s" data-wow-duration="1s">
                       <h3 >用户端APP/公众号</h3>
                       <img  src="/image/i_p_4.png">
                       <img class="center_img"  src="/image/i_p_d_b.jpg">
                       <p>用户端连接社区医生的两种形式，个性化医疗服务，记录当日体征数据等</p>
                   </div>
                   <div class="clearBoth"></div>
               </div>
           </div>
           <div class="p_des">
               <h1 class="p_title wow fadeInUpBig" data-wow-delay="0.1s">
                   <span>家庭健康管理平台</span><span class="cyan">产品简介</span>
               </h1>
               <div class="des_wrapper">
                   <div class="img_wrapper fl wow bounceInLeft" data-wow-delay="0.4s" data-wow-duration="1s">
                       <img src="/image/i_list3.png">
                   </div>
                   <div class="des_wrapper fl wow bounceInRight" data-wow-delay="0.4s" data-wow-duration="1s">
                       <h3 class="dark">家庭健康管理平台</h3>
                       <p>系统提供各种数据接口，为分级诊疗，双向转诊提供可能</p>
                   </div>
                   <div class="clearBoth"></div>
               </div>
           </div>
       </div>
   </div>
<%include pub_vw/footer.html%>