<%include pub_vw/head.html%>
<!--导航-->
<div class="state_header">
    <div class="inner">
        <%include pub_vw/nav.html%>
    </div>
</div>
<!--内容-->
<div class="state_content">
    <div class="inner">
        <ul class="state_nav fl" id="state_nav">
            <li class="wow bounceInRight" data-wow-delay="0.1s" state="law"><a href="#law">法律申明</a></li>
            <li class="wow bounceInRight"  data-wow-delay="0.2s" state="state"><a href="#state">版权申明</a></li>
            <li class="wow bounceInRight"  data-wow-delay="0.3s" state="link"><a href="#link">友情链接</a></li>
        </ul>
        <div class="s_body fl">
            <div class="s_title">
                <p class="wow bounceInRight">法律申明</p>
            </div>
            <div class="s_des">
                <div class="law hide">
                    <p class="title wow bounceInRight" data-wow-delay="0.1s"> 本网站资料、信息及相关内容由贵州米可医疗科技有限公司（以下简称“米可医疗”或“本公司”）提供，任何访问者使用本网站前，请您仔细阅读下述条款。如果您不同意本法律声明请勿继续使用本网站。如果您继续进入本网站、阅读本网站内容、下载本网站资料或使用本网站提供的任何信息，即意味着已阅读、理解并同意接受本声明条款约束。您使用本网站，未经本公司书面许可，不得将本网站所提供的图片、信息或资料等内容，用于任何商业性的或非法、违法目的，或以任何不符合本法律声明的方式访问、使用本网站。本公司保留在法律许可的范围内对本声明的修改权和解释权。本公司有权向违反本法律声明的用户追究法律责任。</p>

                    <p class="cyan wow bounceInRight" data-wow-delay="0.15s"><b>使用条款</b></p>

                    <p class="wow bounceInRight" data-wow-delay="0.2s">（一）接受条款</p>

                    <p class="wow bounceInRight" data-wow-delay="0.25s">任何通过互联网访问进入本公司网站及任何页面即表示您同意并将受本公司网站法律声明的约束。凡以任何方式登陆本公司网站或直接、间接使用本公司网站资料者，亦视为自愿接受本公司网站法律声明的约束。接受本条款法律约束是您合法访问本公司网站的前提。本公司可以随时在中华人民共和国法律允许的范围内自行修改本使用条款。</p>

                    <p class="wow bounceInRight" data-wow-delay="0.3s"> （二）隐私</p>

                    <p class="wow bounceInRight" data-wow-delay="0.35s">  本公司将仅根据本公司的隐私条款使用“您的资料”。本公司网站隐私条款的全部内容属于本法律声明的一部份，因此，您必须仔细阅读。</p>

                    <p class="wow bounceInRight" data-wow-delay="0.4s"> （三）网站安全承诺</p>

                    <p class="wow bounceInRight" data-wow-delay="0.45s">您同意，您不得使用任何装置、软件或例行程序干预或试图干预或破坏本公司网站的正常运作。您不得采取对任何将不合理或不合比例的庞大负载加诸本公司网络结构的行动。您不得以任何手段非法入侵本公司网站。任何危害本公司网站安全性的行为都将可能承担相应的民事责任，受到行政处罚，严重的可能构成刑事犯罪。</p>

                    <p class="wow bounceInRight" data-wow-delay="0.5s">（四）法律关系</p>

                    <p class="wow bounceInRight" data-wow-delay="0.55s">您访问本公司网站的行为，除依据本法律声明或相关用户协议建立合同法律关系外，不创设任何代理、合伙、合营、雇佣与被雇佣或特许权授予与被授予等任何其他法律关系。</p>

                    <p class="wow bounceInRight" data-wow-delay="0.6s"> （五）网站链接</p>

                    <p class="wow bounceInRight" data-wow-delay="0.65s"> 本网站所链接的站点上的信息、内容、观点及其准确性，未经本公司的核实和认可，亦不受本公司监督控制。本公司仅为方便用户而提供这些链接，并不表示认可或承担其他网站内容或使用上的责任。未经本公司的同意，任何网站不得与本网站全部或部分网页建立超级链接。</p>

                    <p class="wow bounceInRight" data-wow-delay="0.7s">（六）法律管辖与纠纷解决</p>

                    <p class="wow bounceInRight" data-wow-delay="0.75s"> 本法律声明的订立、执行和解释及争议的解决均应适用中华人民共和国法律。本法律声明未涉及的问题参见国家有关法律、法规，当本法律声明与国家法律、法规冲突时，以国家法律、法规为准。如访问者与本公司就本法律声明的内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向本公司所在地的人民法院提起诉讼。</p>

                    <p class="cyan wow bounceInRight" data-wow-delay="0.8s"> <b>免责声明</b></p>

                    <p  class="wow bounceInRight" data-wow-delay="0.85s">（一）对本网站的内容，本公司不提供任何形式的明示或默示的关于内容的正确性、及时性、有效性、稳定性、可用性、不侵犯他人权利等方面的保证。本网站内容与纸制文件不符的，应以纸制文件内容为准。</p>

                    <p  class="wow bounceInRight" data-wow-delay="0.95s">（二）互联网传输可能会受到干扰，中断、延迟或数据错误，本公司对于非本公司能控制的通讯设施故障可能引致的数据及交易之准确性或及时性不负任何责任。不保证网站服务器及网络的稳定性，不保证本网站在任何时候均可供浏览、阅读和使用。</p>

                    <p  class="wow bounceInRight" data-wow-delay="1s">（三）任何情况下，本公司对于进入或使用本网站引起的任何依赖本网站内容而作出的决定或采取的行动不承担任何责任，对进入或使用本网站而产生的任何直接的、间接的、惩罚性的损失或其他任何形式的损失包括但不限于业务中断、数据丢失或利润损失不承担任何责任。</p>

                    <p  class="wow bounceInRight" data-wow-delay="1.05s">（四）本网站中涉及的与本公司产品、客户服务、销售等有关的内容，如产品目录及描述、合同、网点位置、代理人分布及设置、服务电话等，请以本公司业务部门的正式合同、承诺、约定为准。因本网站相关内容与实际服务过程、流程或合同有差异的，以实际的服务过程、流程或合同为准，本公司不因此履行相应的义务或承担相应的责任。</p>

                    <p class="wow bounceInRight" data-wow-delay="1.1s">（五）通过互联网传送至本公司的电子邮件无法保证绝对的安全。如用户通过互联网发送的信息，或要求以电子邮件方式回复，本公司不对由此所造成的任何损失负责。本公司不承担任何因使用本网站所产生的直接、间接、个别或连带的损失。</p>

                    <p class="wow bounceInRight" data-wow-delay="1.15s">（六）本公司不为于本公司网站使用的任何第三方软件的准确性、安全性、功能或性能作任何声明或保证。</p>

                    <p class="wow bounceInRight" data-wow-delay="1.2s"> （七）本公司对于您在进入、浏览和使用本公司网站或从本公司网站下载任何内容而导致病毒或其他破坏性程序对您的电脑系统以及其他任何软件、硬件、IT系统或财产的损害或损失不承担任何责任。本公司对于第三人采用非法手段进入本公司网站取得有关密码、资料和内容而造成的任何损害或损失不承担任何责任。</p>

                    <p class="wow bounceInRight" data-wow-delay="1.25s"> 本网站发布信息中会包含某某些身体健康状况提示、就医提示、养生保健提示等方面的预测性陈述。该等陈述应当包含一定的风险因素和不确定性，旨在反映本公司对您使用本公司产品测量结果分析的目前看法，并非对将来疾病治愈情形的保证。本公司的预测结果可能会因某些风险因素如用户测量方法不当等导致重大出入，对此种情形可直接与本网站指定医师联系或遵从各大医院医生医嘱。</p>
                    <p class="wow bounceInRight" data-wow-delay="1.3s"> 本网站内容中使用如"预期"、"计划"、"相信"、"预测"、"期望"、"可能"、"打算"等其他类似词语进行陈述时，凡与本公司有关的，目的均是要说明其为预测性陈述。本公司不保证这些预测性陈述的时效性。</p>
                </div>
                <div class="state hide">
                    <p class="wow bounceInRight" data-wow-delay="0.1s">
                        <span>1、本网站提供的任何内容（包括但不限于域名、商号、商标、数据、文字、版面设计、图形、图表、图案、图像、声音、流程、程序等）的版权均属于本公司或相关权利人。未经本公司或相关权利人事先的书面许可，您不得以任何方式擅自复制、再造、传播、出版、转帖、改编或陈列本网站的内容。同时，未经本公司书面许可，对于本网站上的任何内容，任何人不得在非本公司所属的服务器上做镜像。任何未经授权使用本网站的行为都将可能违反《中华人民共和国著作权法》和其他法律法规以及有关国际公约的规定。</span>
                    <span>凡本公司网站转载之文章均出于传递更多信息之目的，并不意味着赞同其观点或证实其内容的真实性。</span>
                    </p>
                    <p class="has_sub wow bounceInRight" data-wow-delay="0.15s">
                    2、非经本公司书面许可，本公司网站以下内容不得转载或使用:
                    <span> （1）网站Logo、Banner以及网站中特有的图形、标志、页面风格、编排方式、程序等；</span>
                    <span>  （2）已作出不得转载或未经许可不得转载声明的内容；</span>
                    <span> （3）未由本公司网站署名或本公司网站引用、转载的他人作品等非本公司网站版权内容；</span>
                    <span> （4）本公司网站所指向的非本公司网站内容的相关链接内容；</span>
                    <span> （5）其他法律不允许或本公司网站认为不适合转载的内容。</span>
                    </p>
                    <p class="wow bounceInRight" data-wow-delay="0.2s"> 3、转载或引用本网中的署名文章，请按规定向作者支付稿酬。</p>

                    <p class="wow bounceInRight" data-wow-delay="0.25s"> 4、对于不当转载或引用本网内容而引起的民事纷争、行政处理或其他损失，本网不承担责任。</p>

                    <p class="wow bounceInRight" data-wow-delay="0.3s"> 5、如本公司网站转载稿件涉及版权等问题，请作者在一个月内速来电与本公司联系并提供相应证明材料。一旦确认构成侵犯他人权利，本公司将立即移除相关内容。</p>

                    <p class="wow bounceInRight" data-wow-delay="0.35s">   6、对不遵守本声明或其他违法、未经许可或者恶意使用本公司网站内容者，本公司保留追究其法律责任的权利。</p>

                    <p class="wow bounceInRight" data-wow-delay="0.4s"> 关于解释权</p>

                    <p class="wow bounceInRight" data-wow-delay="0.45s">  本网站之声明以及其修改权、更新权及最终解释权均属本站所有。</p>

                    <p class="wow bounceInRight" data-wow-delay="0.5s">  版权、商标</p>

                    <p class="wow bounceInRight" data-wow-delay="0.55s"> 本公司及其下属机构对本网站中所示的任何商标、公司标志及服务标志拥有所有权。未经本公司的书面批准，任何人不得使用。本网站所刊登的资料受版权保护。未经本公司书面同意，该资料任何部分均不得修改、复制、储存于检索系统、传送、抄袭、分发，或用于任何商业或公开用途。</p>

                </div>
                <div class="link hide">
                    <p class="wow bounceInRight" data-wow-delay="0.1s">蜂鸟健康管理平台<a class="cyan" href="http://www.microtech.com" target="_blank">www.microtech.com</a></p>
                    <p class="wow bounceInRight" data-wow-delay="0.15s">米可健康大数据云平台<a class="cyan" href="http://www.microtech.com" target="_blank">www.microtech.com</a></p>
                </div>
            </div>
        </div>
        <div class="clearBoth"></div>
    </div>
</div>
<%include pub_vw/footer.html%>